/* Navigation Bar */

nav {
  font-family: "Mochiy Pop P One", sans-serif;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 33% 66%;
  justify-items: center;
  align-items: end;
  width: 55%;
  margin: 50px auto;
  border: 1px grey;
  border-style: solid solid none solid;
}

h1.logo {
  display: inline;
  margin: 5px 10px 0 10px;
  justify-self: start;
}

ul.nav-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-self: end;
  white-space: nowrap;
}

li.nav-item {
  display: inline;
  background-color: rgb(231, 231, 231);
  margin: 10px;
  padding: 3px;
  border: 2px grey;
  border-style: none dotted dotted dotted;
}

@media screen and (max-width: 1142px) {
  ul.nav-items {
    display: none;
  }

  .menu-icon {
    border: 2px dotted grey;
    margin-bottom: 5px;
    justify-self: end;
  }

  .icon-bar {
    width: 30px;
    height: 2px;
    margin: 10px;
    background-color: black;
  }
}
