body {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

#logo {
  font-family: "Creepster", cursive;
  font-size: 4rem;
  letter-spacing: 3px;
  color: white;
  text-shadow: -5px -5px black;
  background-color: red;
  width: 60%;
  margin: auto;
}

nav {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 2px;

  width: 800px;
  text-align: right;
  transform: rotate(-3deg);
}

.navigation-items {
  list-style-type: none;
}

.navigation-item {
  display: inline;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
  color: white;
  margin: 10px 20px;
}

.menu-icon {
  display: none;
}

.menu-icon-bars {
  background-color: white;
  width: 25px;
  padding: 3px;
  margin: 5px;
}

@media screen and (max-width: 715px) {
  .navigation-items {
    display: none;
  }
}
