body {
  font-size: 16px;
}

/* Navigation Bar */

nav {
  font-family: "Mochiy Pop P One", sans-serif;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 33% 66%;
  justify-items: center;
  align-items: end;
  width: 55%;
  margin: 50px auto;
  border: 1px grey;
  border-style: solid solid none solid;
}

h1.logo {
  display: inline;
  margin: 5px 10px 0 10px;
  justify-self: start;
  white-space: nowrap;
}

ul.nav-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-self: end;
  white-space: nowrap;
}

li.nav-item {
  display: inline;
  background-color: rgb(231, 231, 231);
  margin: 10px;
  padding: 3px;
  border: 2px grey;
  border-style: none dotted dotted dotted;
}

/*Smaller screen navbar */

@media screen and (max-width: 1180px) {
  nav {
    height: 100px;
    grid-template-columns: 80% auto;
  }

  h1.logo {
    font-size: 2rem;
  }

  ul.nav-items {
    display: none;
  }

  .menu-icon {
    background-color: rgb(231, 231, 231);
    border: 2px dotted grey;
    margin: 0 5px 5px 0;
    justify-self: end;
  }

  .icon-bar {
    width: 30px;
    height: 2px;
    margin: 10px;
    background-color: black;
  }
}

@media screen and (max-width: 650px) {
  nav {
    width: 100%;
  }
}

/* Dropdown nav menu */

ul.nav-items.responsive {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
